{
  "openapi": "3.1.0",
  "info": {
    "title": "Contactzilla API",
    "version": "1.0.0",
    "description": "Contacts, address books, labels and fields in Contactzilla. Authenticate with OAuth 2 (authorization code with PKCE) or a personal access token; every endpoint lists the scopes it needs."
  },
  "servers": [
    {
      "url": "https://contactzilla.com"
    }
  ],
  "tags": [
    {
      "name": "You and your teams",
      "description": "Who the token belongs to, and the teams and address books it can reach."
    },
    {
      "name": "Contacts",
      "description": "Listing, reading and changing contacts in an address book."
    },
    {
      "name": "Labels",
      "description": "Labels on contacts and the labels an address book has."
    },
    {
      "name": "Fields and custom fields",
      "description": "The field catalogue every contact is built from, and custom fields."
    },
    {
      "name": "Utilities"
    }
  ],
  "paths": {
    "/api/v1/user": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "The signed-in user",
        "description": "Who the token belongs to, with their current team and address book.",
        "tags": [
          "You and your teams"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "id": 42,
                  "name": "Ada Lovelace",
                  "email": "ada@example.com",
                  "email_verified_at": "2026-01-12T10:00:00.000000Z",
                  "profile_photo_url": "https://contactzilla.com/storage/profile-photos/ada.jpg",
                  "current_team_id": 7,
                  "current_team": {
                    "id": 7,
                    "name": "Analytical Engines",
                    "slug": "analytical-engines",
                    "personal_team": false,
                    "format_phone_numbers": true,
                    "phone_number_country": "GB",
                    "trial_expires": null,
                    "created_at": "2026-01-12T10:00:00.000000Z",
                    "updated_at": "2026-09-01T09:00:00.000000Z",
                    "owner": {
                      "id": 42,
                      "name": "Ada Lovelace"
                    }
                  },
                  "created_at": "2026-01-12T10:00:00.000000Z",
                  "updated_at": "2026-09-01T09:00:00.000000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": []
      }
    },
    "/api/v1/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "Teams the user belongs to",
        "description": "Only teams that allow API access appear (Team Settings > API/MCP). Use the slug in every other path.",
        "tags": [
          "You and your teams"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PageLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "id": 7,
                      "name": "Analytical Engines",
                      "slug": "analytical-engines",
                      "personal_team": false,
                      "format_phone_numbers": true,
                      "phone_number_country": "GB",
                      "trial_expires": null,
                      "created_at": "2026-01-12T10:00:00.000000Z",
                      "updated_at": "2026-09-01T09:00:00.000000Z",
                      "owner": {
                        "id": 42,
                        "name": "Ada Lovelace"
                      }
                    }
                  ],
                  "links": {
                    "first": "https://contactzilla.com/api/v1/teams?page=1",
                    "last": "https://contactzilla.com/api/v1/teams?page=1",
                    "prev": null,
                    "next": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [],
                    "path": "https://contactzilla.com/api/v1/teams",
                    "per_page": 100,
                    "to": 1,
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": []
      }
    },
    "/api/v1/teams/{team}": {
      "get": {
        "operationId": "getTeam",
        "summary": "One team",
        "tags": [
          "You and your teams"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "example": {
                  "id": 7,
                  "name": "Analytical Engines",
                  "slug": "analytical-engines",
                  "personal_team": false,
                  "format_phone_numbers": true,
                  "phone_number_country": "GB",
                  "trial_expires": null,
                  "created_at": "2026-01-12T10:00:00.000000Z",
                  "updated_at": "2026-09-01T09:00:00.000000Z",
                  "owner": {
                    "id": 42,
                    "name": "Ada Lovelace"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": []
      }
    },
    "/api/v1/teams/{team}/address-books": {
      "get": {
        "operationId": "listAddressBooks",
        "summary": "Address books in a team",
        "description": "The ones the user can see; restricted users only see the books they have been given.",
        "tags": [
          "You and your teams"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AddressBook"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "slug": "customers",
                      "name": "Customers",
                      "contact_count": 412
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": []
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}": {
      "get": {
        "operationId": "getAddressBook",
        "summary": "One address book",
        "tags": [
          "You and your teams"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddressBook"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": {
                    "slug": "customers",
                    "name": "Customers",
                    "contact_count": 412,
                    "team": {
                      "id": 7,
                      "name": "Analytical Engines",
                      "slug": "analytical-engines",
                      "personal_team": false,
                      "format_phone_numbers": true,
                      "phone_number_country": "GB",
                      "trial_expires": null,
                      "created_at": "2026-01-12T10:00:00.000000Z",
                      "updated_at": "2026-09-01T09:00:00.000000Z",
                      "owner": {
                        "id": 42,
                        "name": "Ada Lovelace"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": []
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List and search contacts",
        "description": "Pages of 50, newest changes included when you pass updated_since — the way to sync incrementally. Hidden contacts are omitted unless preset_filter=hiddencontacts (administrators only).",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Free-text search across names, company and details.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "description": "labels[]=Customers&labels[]=VIP, or comma-separated.",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string",
                  "description": "Comma-separated."
                }
              ]
            }
          },
          {
            "name": "labels_match",
            "in": "query",
            "required": false,
            "description": "Whether a contact needs one of the labels (default) or all of them.",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ]
            }
          },
          {
            "name": "preset_filter",
            "in": "query",
            "required": false,
            "description": "nolabels, noemail, nophone, noaddress, nobio, or hiddencontacts.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "required": false,
            "description": "Only contacts changed at or after this moment, e.g. 2026-09-23T10:00:00Z.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "required": false,
            "description": "exclude (default) leaves deleted contacts out; include returns live and deleted ones (deleted_at is set on the latter); only returns just the deleted ones. Pair with updated_since to pick up deletions when syncing.",
            "schema": {
              "type": "string",
              "enum": [
                "exclude",
                "include",
                "only"
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "first_name (default), last_name, company_name, created_at, updated_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "description": "Default ASC.",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "0, 50, 100, … — responses hold 50 contacts.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Contacts matching the filters."
                    },
                    "total_address_book_count": {
                      "type": "integer"
                    },
                    "total_selected_count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "current_sort": {
                      "type": "object",
                      "properties": {
                        "sort_by": {
                          "type": "string"
                        },
                        "sort_direction": {
                          "type": "string",
                          "enum": [
                            "ASC",
                            "DESC",
                            "asc",
                            "desc"
                          ]
                        }
                      },
                      "required": [
                        "sort_by",
                        "sort_direction"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "count",
                    "total_address_book_count",
                    "total_selected_count",
                    "results",
                    "current_sort"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "count": 1,
                  "total_address_book_count": 412,
                  "total_selected_count": 0,
                  "results": [
                    {
                      "id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                      "team_id": 7,
                      "address_book_id": 12,
                      "created_by": 42,
                      "updated_by": 42,
                      "deleted_by": null,
                      "created_at": "2026-09-01T09:12:44.000000Z",
                      "updated_at": "2026-09-23T08:40:02.000000Z",
                      "deleted_at": null,
                      "first_name": "Ada",
                      "last_name": "Lovelace",
                      "company_name": "Analytical Engines Ltd",
                      "is_company": false,
                      "avatar": null,
                      "pronouns": null,
                      "prefix": null,
                      "suffix": null,
                      "bio": null,
                      "hidden": false,
                      "hidden_at": null,
                      "contact_data": [
                        {
                          "id": 901,
                          "contact_id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                          "contact_field_id": 8,
                          "contact_field_label_id": 21,
                          "custom_label": null,
                          "field_value": "ada@example.com",
                          "canonicalized_value": "ada@example.com",
                          "field_data": null,
                          "created_at": "2026-09-01T09:12:44.000000Z",
                          "updated_at": "2026-09-01T09:12:44.000000Z",
                          "contact_field": {
                            "id": 8,
                            "field_type": "Email",
                            "component_key": "Email",
                            "component_group": null,
                            "merge_type": "append",
                            "order_id": 0,
                            "vector_priority": "B",
                            "created_at": null,
                            "updated_at": null
                          },
                          "contact_field_label": {
                            "id": 21,
                            "contact_field_id": 8,
                            "label_value": "Work",
                            "order_id": 1,
                            "created_at": null,
                            "updated_at": null
                          }
                        }
                      ],
                      "is_selected": false
                    }
                  ],
                  "current_sort": {
                    "sort_by": "first_name",
                    "sort_direction": "ASC"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.read"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.read"
        ]
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "description": "Duplicates are detected as in the app; a match returns 409 with the existing contact in data.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactData": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactDataInput"
                    },
                    "description": "Every value on the contact, one row each: {contact_field_id, contact_field_label_id, custom_label, field_value}. Field ids come from GET /contact-fields; label ids from GET /contact-field-labels; custom_label names a Custom / CustomUnique field."
                  },
                  "contact_template_id": {
                    "type": "integer",
                    "description": "Apply a contact template's required fields and auto labels."
                  }
                },
                "required": [
                  "contactData"
                ]
              },
              "example": {
                "contactData": [
                  {
                    "contact_field_id": 1,
                    "contact_field_label_id": null,
                    "custom_label": null,
                    "field_value": "Ada"
                  },
                  {
                    "contact_field_id": 2,
                    "contact_field_label_id": null,
                    "custom_label": null,
                    "field_value": "Lovelace"
                  },
                  {
                    "contact_field_id": 8,
                    "contact_field_label_id": 21,
                    "custom_label": null,
                    "field_value": "ada@example.com"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": {
                    "id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                    "team_id": 7,
                    "address_book_id": 12,
                    "created_by": 42,
                    "updated_by": 42,
                    "deleted_by": null,
                    "created_at": "2026-09-01T09:12:44.000000Z",
                    "updated_at": "2026-09-23T08:40:02.000000Z",
                    "deleted_at": null,
                    "first_name": "Ada",
                    "last_name": "Lovelace",
                    "company_name": "Analytical Engines Ltd",
                    "is_company": false,
                    "avatar": null,
                    "pronouns": null,
                    "prefix": null,
                    "suffix": null,
                    "bio": null,
                    "hidden": false,
                    "hidden_at": null,
                    "contact_data": [
                      {
                        "id": 901,
                        "contact_id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                        "contact_field_id": 8,
                        "contact_field_label_id": 21,
                        "custom_label": null,
                        "field_value": "ada@example.com",
                        "canonicalized_value": "ada@example.com",
                        "field_data": null,
                        "created_at": "2026-09-01T09:12:44.000000Z",
                        "updated_at": "2026-09-01T09:12:44.000000Z",
                        "contact_field": {
                          "id": 8,
                          "field_type": "Email",
                          "component_key": "Email",
                          "component_group": null,
                          "merge_type": "append",
                          "order_id": 0,
                          "vector_priority": "B",
                          "created_at": null,
                          "updated_at": null
                        },
                        "contact_field_label": {
                          "id": 21,
                          "contact_field_id": 8,
                          "label_value": "Work",
                          "order_id": 1,
                          "created_at": null,
                          "updated_at": null
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.add"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.add"
        ]
      },
      "delete": {
        "operationId": "deleteContactByCustomUnique",
        "summary": "Delete a contact found by a custom unique field",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "$ref": "#/components/schemas/CustomUniqueIdentifier",
                    "description": "{custom_label, field_value}."
                  }
                },
                "required": [
                  "identifier"
                ]
              },
              "example": {
                "identifier": {
                  "custom_label": "CRM ID",
                  "field_value": "C-1042"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.delete"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.delete"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/custom-unique": {
      "put": {
        "operationId": "updateContactByCustomUnique",
        "summary": "Update a contact found by a custom unique field",
        "description": "For systems that key contacts by their own id: name the CustomUnique field and value instead of a Contactzilla id.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "$ref": "#/components/schemas/CustomUniqueIdentifier",
                    "description": "{custom_label, field_value} of the CustomUnique field, e.g. {\"custom_label\": \"CRM ID\", \"field_value\": \"C-1042\"}."
                  },
                  "contactData": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactDataInput"
                    },
                    "description": "Every value on the contact, one row each: {contact_field_id, contact_field_label_id, custom_label, field_value}. Field ids come from GET /contact-fields; label ids from GET /contact-field-labels; custom_label names a Custom / CustomUnique field."
                  },
                  "update_method": {
                    "type": "string",
                    "enum": [
                      "replace",
                      "merge"
                    ],
                    "description": "As for update."
                  }
                },
                "required": [
                  "identifier",
                  "contactData"
                ]
              },
              "example": {
                "identifier": {
                  "custom_label": "CRM ID",
                  "field_value": "C-1042"
                },
                "contactData": [],
                "update_method": "replace"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.update"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.update"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/by-name": {
      "put": {
        "operationId": "updateContactByName",
        "summary": "Update a contact found by name",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactData": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactDataInput"
                    },
                    "description": "Every value on the contact, one row each: {contact_field_id, contact_field_label_id, custom_label, field_value}. Field ids come from GET /contact-fields; label ids from GET /contact-field-labels; custom_label names a Custom / CustomUnique field."
                  },
                  "update_method": {
                    "type": "string",
                    "enum": [
                      "replace",
                      "merge"
                    ]
                  }
                },
                "required": [
                  "contactData"
                ]
              },
              "example": {
                "contactData": [],
                "update_method": "replace"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.update"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.update"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts-for-company": {
      "get": {
        "operationId": "listCompanyContacts",
        "summary": "People at a company",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "description": "A contact id to leave out (usually the company itself).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PageLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.read"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.read"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/copy": {
      "post": {
        "operationId": "copySelectedContacts",
        "summary": "Copy the selected contacts to another address book",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_address_book_slug": {
                    "type": "string"
                  }
                },
                "required": [
                  "target_address_book_slug"
                ]
              },
              "example": {
                "target_address_book_slug": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.add"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.add"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/move": {
      "post": {
        "operationId": "moveSelectedContacts",
        "summary": "Move the selected contacts to another address book",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_address_book_slug": {
                    "type": "string"
                  }
                },
                "required": [
                  "target_address_book_slug"
                ]
              },
              "example": {
                "target_address_book_slug": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "selected_count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "selected_count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "message",
                    "type"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.add",
              "contacts.delete"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.add",
          "contacts.delete"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/merge": {
      "post": {
        "operationId": "mergeSelectedContacts",
        "summary": "Merge the selected contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_contact_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Which selected contact survives; the first if omitted."
                  }
                },
                "required": []
              },
              "example": {
                "target_contact_id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "selected_count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "selected_count"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "message",
                    "type"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.update",
              "contacts.delete"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.update",
          "contacts.delete"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/{contact}": {
      "get": {
        "operationId": "getContact",
        "summary": "One contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact id (uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": {
                    "id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                    "team_id": 7,
                    "address_book_id": 12,
                    "created_by": 42,
                    "updated_by": 42,
                    "deleted_by": null,
                    "created_at": "2026-09-01T09:12:44.000000Z",
                    "updated_at": "2026-09-23T08:40:02.000000Z",
                    "deleted_at": null,
                    "first_name": "Ada",
                    "last_name": "Lovelace",
                    "company_name": "Analytical Engines Ltd",
                    "is_company": false,
                    "avatar": null,
                    "pronouns": null,
                    "prefix": null,
                    "suffix": null,
                    "bio": null,
                    "hidden": false,
                    "hidden_at": null,
                    "contact_data": [
                      {
                        "id": 901,
                        "contact_id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                        "contact_field_id": 8,
                        "contact_field_label_id": 21,
                        "custom_label": null,
                        "field_value": "ada@example.com",
                        "canonicalized_value": "ada@example.com",
                        "field_data": null,
                        "created_at": "2026-09-01T09:12:44.000000Z",
                        "updated_at": "2026-09-01T09:12:44.000000Z",
                        "contact_field": {
                          "id": 8,
                          "field_type": "Email",
                          "component_key": "Email",
                          "component_group": null,
                          "merge_type": "append",
                          "order_id": 0,
                          "vector_priority": "B",
                          "created_at": null,
                          "updated_at": null
                        },
                        "contact_field_label": {
                          "id": 21,
                          "contact_field_id": 8,
                          "label_value": "Work",
                          "order_id": 1,
                          "created_at": null,
                          "updated_at": null
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.read"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.read"
        ]
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact id (uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": null,
                  "message": "Contact deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.delete"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.delete"
        ]
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Replace or merge a contact's data",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact id (uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactData": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactDataInput"
                    },
                    "description": "Every value on the contact, one row each: {contact_field_id, contact_field_label_id, custom_label, field_value}. Field ids come from GET /contact-fields; label ids from GET /contact-field-labels; custom_label names a Custom / CustomUnique field."
                  },
                  "update_method": {
                    "type": "string",
                    "enum": [
                      "replace",
                      "merge"
                    ],
                    "description": "replace (default) makes contactData the whole contact; merge adds and updates rows, leaving others."
                  }
                },
                "required": [
                  "contactData"
                ]
              },
              "example": {
                "update_method": "merge",
                "contactData": [
                  {
                    "contact_field_id": 7,
                    "contact_field_label_id": 12,
                    "custom_label": null,
                    "field_value": "+44 20 7946 0000"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": {
                    "id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                    "team_id": 7,
                    "address_book_id": 12,
                    "created_by": 42,
                    "updated_by": 42,
                    "deleted_by": null,
                    "created_at": "2026-09-01T09:12:44.000000Z",
                    "updated_at": "2026-09-23T08:40:02.000000Z",
                    "deleted_at": null,
                    "first_name": "Ada",
                    "last_name": "Lovelace",
                    "company_name": "Analytical Engines Ltd",
                    "is_company": false,
                    "avatar": null,
                    "pronouns": null,
                    "prefix": null,
                    "suffix": null,
                    "bio": null,
                    "hidden": false,
                    "hidden_at": null,
                    "contact_data": [
                      {
                        "id": 901,
                        "contact_id": "01a0b2c5-70d8-7324-aa5f-dc160934d1d7",
                        "contact_field_id": 8,
                        "contact_field_label_id": 21,
                        "custom_label": null,
                        "field_value": "ada@example.com",
                        "canonicalized_value": "ada@example.com",
                        "field_data": null,
                        "created_at": "2026-09-01T09:12:44.000000Z",
                        "updated_at": "2026-09-01T09:12:44.000000Z",
                        "contact_field": {
                          "id": 8,
                          "field_type": "Email",
                          "component_key": "Email",
                          "component_group": null,
                          "merge_type": "append",
                          "order_id": 0,
                          "vector_priority": "B",
                          "created_at": null,
                          "updated_at": null
                        },
                        "contact_field_label": {
                          "id": 21,
                          "contact_field_id": 8,
                          "label_value": "Work",
                          "order_id": 1,
                          "created_at": null,
                          "updated_at": null
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.update"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.update"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/{contact}/restore": {
      "post": {
        "operationId": "restoreContact",
        "summary": "Restore a deleted contact",
        "description": "Deleted contacts are kept for 90 days and can be brought back until then. List them with GET …/contacts?include_deleted=only. Answers 422 if the contact is not deleted.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact id (uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.update"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.update"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/{contact}/copy": {
      "post": {
        "operationId": "copyContact",
        "summary": "Copy a contact to another address book",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact id (uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_address_book_slug": {
                    "type": "string"
                  }
                },
                "required": [
                  "target_address_book_slug"
                ]
              },
              "example": {
                "target_address_book_slug": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "message",
                    "type",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.add"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.add"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/{contact}/move": {
      "post": {
        "operationId": "moveContact",
        "summary": "Move a contact to another address book",
        "description": "The contact gets a new id in the target book.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact id (uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_address_book_slug": {
                    "type": "string"
                  }
                },
                "required": [
                  "target_address_book_slug"
                ]
              },
              "example": {
                "target_address_book_slug": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "required": [
                    "message",
                    "type",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input; errors lists the problems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "contacts.add",
              "contacts.delete"
            ]
          },
          {
            "bearerAuth": []
          }
        ],
        "x-scopes": [
          "contacts.add",
          "contacts.delete"
        ]
      }
    },
    "/api/v1/teams/{team}/address-books/{address_book}/contacts/{contact}/merge": {
      "post": {
        "operationId": "mergeIntoContact",
        "summary": "Merge other contacts into this one",
        "description": "The target keeps its id and gains the sources' values; the sources are deleted.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team slug, from GET /api/v1/teams.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_book",
            "in": "path",
            "required": true,
            "description": "Address book slug, from GET /api/v1/teams/{team}/address-books.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "description": "Contact id (uuid).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_contact_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "required": [
                  "source_contact_ids"
                ]
              },
              "example": {
                "source_contact_ids": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "merged_contact_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "type",
                    "data",
                    "merged_contact_ids"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope, API access is off for the team, or the user can't see this address book.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown team, address book, contact or field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
[...]
